<footer>
        <div class="container">
            <p class="footer-copyright">&copy; 2026 Dmytro Dehtiarov. All rights reserved.</p>

            <div class="footer-links">
                <a href="Dmytro_Dehtiarov_resume.pdf" download>Resume (PDF)</a>
                <a href="mailto:degtyarev.dmitry02@gmail.com">Email</a>
                <a href="https://github.com/dmytro-dehtiarov" target="_blank" rel="noopener noreferrer">GitHub</a>
                <a href="https://www.linkedin.com/in/dmytro-dehtiarov-7aa991253/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            </div>
        </div>
    </footer>
